@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	@apply select-none;
}

input#title-input::placeholder {
	@apply text-lg text-gray-500 font-medium;
}

textarea#desc-input::placeholder {
	@apply text-gray-500;
}

input:focus {
	outline: none;
}

@media (min-width: 768px) {
	button:hover {
		@apply transform scale-105 duration-150 ease-in-out;
	}
}
